@import "reset-style";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");

$primaryColor: #7a316f;
$secondaryColor: #aed8cc;
$darkSecondaryColor: #86a69d;

$neutralColor: #efefdc;
$darkerNeutralColor: #ebebd8;
$darkNeutralColor: #e3e3d1;
$darkNeutralColor2: #d1d1c0;
$darkNeutralColor3: #bfbfb0;

@mixin font($fontSize: 16, $fontWeight: 500) {
  font-family: Open Sans;
  font-size: $fontSize + px;
  font-weight: $fontWeight;
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: $darkNeutralColor3;
  border-radius: 4px;
}

.image-button {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  transition-duration: 0.3s;

  &:hover {
    opacity: 0.75;
  }
}
.image-button_navigation {
  margin-bottom: 15px;
  padding-left: 6px;
  border-left: $darkSecondaryColor 3px solid;
}
.image-button_selected {
  border-left-color: $primaryColor;

  &:hover {
    opacity: 1;
  }
}
.image-button_search {
  width: 35px;
  height: 35px;
  border-left: 0;
}

.image-button__img {
  width: 100%;
  height: 100%;
}

.spinner {
  width: 64px;
  height: 64px;
  animation: spinnerAnimation 1s linear 0s infinite normal forwards;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.content {
  display: grid;
  grid-template: 1fr / 80px auto;
  height: 100%;
}

.sidebar {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 15px;
  background-color: $darkNeutralColor;
  box-shadow: 0 3px 7px gray;
}

.main {
  position: relative;
  height: 100%;
  padding: 20px;
  background-color: $neutralColor;
  overflow-x: hidden;
}

.shade-area {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
}
.shade-area_show {
  display: block;
  animation: showShadeArea 0.3s linear 0s 1 normal forwards;
}
.shade-area_hide {
  display: block;
  animation: hideShadeArea 0.3s linear 0s 1 normal forwards;
}

@keyframes showShadeArea {
  0% {
    background-color: rgba($color: black, $alpha: 0);
  }

  100% {
    background-color: rgba($color: black, $alpha: 0.6);
  }
}

@keyframes hideShadeArea {
  0% {
    background-color: rgba($color: black, $alpha: 0.6);
  }

  100% {
    display: none;
    background-color: rgba($color: black, $alpha: 0);
  }
}

.search {
  position: absolute;
  left: 90px;
  display: none;
  padding: 20px;
  max-height: 80vh;
  background-color: $darkNeutralColor2;
  border-radius: 10px;
  overflow-y: auto;

  .movie {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .movie__img {
    width: 180px;

    &:hover {
      box-shadow: 1px 1px 5px gray;
    }
  }

  .movie__text {
    min-width: 180px;
    height: 270px;
  }

  .movie__description {
    &:hover::-webkit-scrollbar-thumb {
      background-color: $darkNeutralColor3;
    }
  }
}
.search_open {
  display: block;
  animation: openSearchMenu 0.3s linear 0s 1 normal forwards;
  transform-origin: left;
}
.search_close {
  display: block;
  animation: closeSearchMenu 0.3s linear 0s 1 normal forwards;
  transform-origin: left;
}

@keyframes openSearchMenu {
  0% {
    opacity: 0.3;
    transform: scaleX(0%);
  }

  100% {
    opacity: 1;
    transform: scaleX(100%);
  }
}

@keyframes closeSearchMenu {
  0% {
    opacity: 1;
    transform: scaleX(100%);
  }

  100% {
    opacity: 0.3;
    transform: scaleX(0%);
  }
}

.search__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-list_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search-list__sort {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  .dropdown__current {
    background-color: $darkNeutralColor;

    &:hover {
      background-color: rgba($color: $darkNeutralColor, $alpha: 0.75);
    }
  }

  > div {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.search-list__sort-criteria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;

  &:hover {
    .image-button {
      opacity: 0.75;
    }
  }

  .image-button {
    width: 18px;
  }
}

.search-list__no-results {
  @include font();
  text-align: center;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  max-width: 100%;
  padding: 8px;
  background-color: $darkNeutralColor;
  border-radius: 5px;

  .image-button {
    width: 30px;
  }
}

.input__label-field {
  position: relative;
  width: 100%;
  margin-right: 10px;
}
.input__label-field_selected {
  display: flex;
  flex-direction: column;

  .input__label {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .input__field {
    position: relative;
    top: 0;
    transform: translateY(0);
    padding-left: 7px;
    border-left: $darkSecondaryColor 3px solid;
  }
}

.input__label {
  @include font();
  white-space: nowrap;
}

.input__field {
  @include font(18);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  background-color: transparent;
}

.movie {
  display: flex;
  align-items: flex-start;
  margin: 0 20px 10px 0;
}

.movie__img {
  width: 240px;
  margin-right: 10px;
  border-radius: 12px;
  box-shadow: 1px 1px 5px gray;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    opacity: 0.9;
    box-shadow: 2.5px 2.5px 7px black;
  }
}

.movie__text {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 360px;
  overflow: hidden;
}

.movie__title-vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.movie__title {
  @include font(20, 700);
  margin-right: 5px;
}

.movie__description {
  @include font();
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: $darkNeutralColor2;
    border-radius: 4px;
  }
}

.book {
  display: flex;
  margin: 0 20px 15px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.book__img-authors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  margin-right: 10px;
}

.book__img {
  @extend .movie__img;
  width: 100%;
  margin-bottom: 15px;

  &:hover {
    opacity: 0.9;
  }
}

.book__authors {
  @include font();
  text-align: center;
}

.book__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  overflow: hidden;
}

.book__name {
  display: flex;
  flex-direction: column;
}

.book__title {
  @include font(20, 700);
  text-align: center;
}

.book__subtitle {
  @include font(18, 400);
  text-align: center;
}

.book__description {
  @include font();
  max-height: 150px;
  overflow-y: auto;
  word-break: break-word;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: $darkNeutralColor3;
    border-radius: 4px;
  }
}

.book__date-vote {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}

.book__date {
  @include font();
}

.top-movies {
  margin: -20px -20px 20px;
  padding: 25px;
  background-color: $darkerNeutralColor;
}

.top-movies__list-title {
  @include font(28, 700);
  margin-bottom: 15px;
}

.top-movies__items {
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar-thumb {
    height: 8px;
    background-color: $darkNeutralColor2;
    border-radius: 4px;
  }
}
.top-movies__items_loading {
  justify-content: center;
  align-items: center;
}

.movies {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: $darkNeutralColor2 2px solid;

  &:last-child {
    border-bottom: 0;
  }
}

.movies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.movies__list-title {
  @include font(24, 700);
  padding-left: 7px;
  border-left: $primaryColor 3px solid;
}

.movies__sort {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .image-button {
      opacity: 0.75;
    }
  }

  .image-button {
    width: 18px;
  }
}

.movies__sort-text {
  @include font(18);
  margin-right: 8px;
  white-space: nowrap;
}

.movies__items {
  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar-thumb {
    height: 8px;
    background-color: $darkNeutralColor2;
    border-radius: 4px;
  }
}
.movies__items_loading {
  justify-content: center;
  align-items: center;
}

.movies__item {
  display: flex;
  flex-direction: column;
  margin: 0 20px 10px 0;
}

.movies__img {
  @extend .movies__img;
  width: 200px;
  margin-bottom: 10px;

  &:hover {
    opacity: 0.9;
    box-shadow: 1px 1px 5px gray;
  }
}

.movies__title {
  @include font(18, 700);
  margin-bottom: 15px;
  text-align: center;
}

.movies__date-vote {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.movies__date {
  @include font();
}

.dropdown {
  position: relative;
}

.dropdown__current {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: $darkNeutralColor2;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 1px 1px 3px gray;

  &:hover {
    background-color: rgba($color: $darkNeutralColor2, $alpha: 0.75);
  }
}

.dropdown__text {
  @include font(18, 400);
  margin-right: 8px;
  white-space: nowrap;
}

.dropdown__img {
  width: 18px;
  height: 18px;
}

.dropdown__menu {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-top: 4px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px gray;
  transform-origin: top;
}
.dropdown__menu_open {
  animation: openMenu 0.3s linear 0s 1 normal forwards;
}
.dropdown__menu_close {
  animation: closeMenu 0.3s linear 0s 1 normal forwards;
}

@keyframes openMenu {
  0% {
    opacity: 0.3;
    transform: scaleY(0%);
  }

  100% {
    opacity: 1;
    transform: scaleY(100%);
  }
}
@keyframes closeMenu {
  0% {
    opacity: 1;
    transform: scaleY(100%);
  }

  100% {
    opacity: 0.3;
    transform: scaleY(0%);
  }
}

.dropdown__option {
  @include font(18, 400);
  padding: 8px 16px;
  background-color: $darkNeutralColor3;
  border-bottom: $darkNeutralColor2 2px solid;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    background-color: #d9d9c7;
  }

  &:first-child {
    border-top-left-radius: 5.5px;
    border-top-right-radius: 5.5px;
  }

  &:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 5.5px;
    border-bottom-right-radius: 5.5px;
  }
}

.vote {
  display: flex;
}

.vote__img {
  width: 22px;
  margin-right: 4px;
}

.vote__text {
  @include font();
}
